<tr class="nested-fields">
  <td>
    <%= f.select :user_id, @firm.users.map {|u| [u.name, u.id]}, :class => 'table-input'  %>
  </td>
  <td>
  <%= link_to_remove_association f, class: 'remove pull-left' do %><span id="remove" class="glyphicon glyphicon-remove"  original-title="Remove"></span><% end %>
  </td>
</tr>
<script type="text/javascript" charset="utf-8">
    $("select").select2();
    $('#notes').on('cocoon:after-remove', function(e, insertedItem) {

    });
</script>
<script type='text/javascript'>
    $(function() {
        $('#remove').tipsy({gravity: 's', fade: true});
    });
</script>