<div class="nested-fields notes-user-field">
  <%= f.select :secondary_owner_id, @firm.users.where(:disabled => false).map {|u| [u.name, u.id]}, :class => 'table-input-85' %>
  <%= link_to_remove_association f, class: 'remove pull-right' do %><span id="remove" class="glyphicon glyphicon-remove"  original-title="Remove"></span><% end %>
</div>
<script type="text/javascript" charset="utf-8">
    $("td select").select2();
    $('#notes').on('cocoon:after-remove', function(e, insertedItem) {

    });
</script>
<script type="text/javascript">
    $(document).ready(function() {
        var self =  $("#popup_note");
        $(document).mousemove(function (e) {
            mX = e.pageX;
            mY = e.pageY;
        }).mouseover();
        $('select').select2()
                .on("change", function(e) { // When user select Value then change event fire
                    $('#popup_note').hide();
                })
                .on("select2-highlight", function(e) { //when user mouse over or highlight value using keyboard navigation keys ("arrow keys")
                    var p = 'P: ';
                    var f = 'F: ';
                    //contact_name = $target.text()
                    var idd = e.val.split(':')[0];
                    $.ajax({
                        url: '/users/'+ idd,
                        type: 'GET',
                        // data: 'contact_name=' + contact_name,
                        dataType: 'json',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                        },
                        success: function(data){
                            $('#popup_note').css({
                                'opacity': '0.1',
                                'top': mY-120,
                            }).animate({
                                'opacity': '1.0',
                            }, 300);
                            if(data.fax_number == null || data.fax_number == '') { data.fax_number = ''; f = '';} else {f = '<br>' + 'F: '}
                            if(data.phone_number == null || data.phone_number == '') { p = '';} else {p = '<br>' + 'P: '}
                            if(data.address == null) {data.address = '' ;}
                            $("#popup_note").html(data.first_name + ' ' + data.last_name + '<br>' +
                                    data.address + p + data.phone_number  +
                                    f + data.fax_number
                            ).fadeIn( "slow").show();
                            setTimeout(function(){
                                $("#popup_note").hide();
                            }, 5000);/* do something meaningful with data */},

                        error: function(xhr, status, response) {/* your error callback */}

                    });
                });
    });
</script>