<div class="nested-fields notes-user-field">
  <%= f.select :user_id, @firm.users.map {|u| [u.name, u.id]}, :class => 'table-input' %>
  <%= link_to_remove_association f, class: 'remove pull-right' do %><span id="remove" class="glyphicon glyphicon-remove"  original-title="Remove"></span><% end %>
</div>
<script type="text/javascript" charset="utf-8">
    $("select").select2();
    $('#notes').on('cocoon:after-remove', function(e, insertedItem) {

    });
</script>
