<%= javascript_include_tag 'notes/table', 'data-turbolinks-track' => true %>
<div class="table-responsive">
  <table id="<%= id %>" class="table table-striped table-hover rowlink notes_table" data-source="<%= send("#{id}_path") %>">
    <thead class="user-table-head">
    <tr>
      <th>Case</th>
      <th>Author</th>
      <th>Note</th>
      <th>Created</th>
      <th>Note Type</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
