<div class="main-container-div">
<%= link_to 'NEW NOTE', new_note_path, {:class => "action-button", :id => "note_modal",  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %> 

    <h3>Notes</h3>
</div>
    <div class="table-responsive">
     
      <%= table_for @notes,
                    :table_html => { :class => "table table-striped" },
                    :sortable => true,
                    :sort_url => notes_path do |note1| %>
          <% note1.column :author, :header => "Author" %>
          <% note1.column :created_at, :header => "Date", :date => lambda {|note| localize(note.created_at.to_date) } %>
          <% note1.column :note_type, :header => "Type" %>         
          <% note1.column :header => "Case", :data => lambda {|note| note.case.name}, :order => 'case'  %>
          <% note1.column :note, :header => "Note" %>
          <% note1.column :data => "Show", :link => true %>
          <% note1.footer do %>
              <div class="pull-right">
                <%= will_paginate @notes %>
              </div>
          <% end %>
      <% end %>

  </div>

<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<script type="text/javascript">
$(document).ready(function() {
  $('#note_modal').click(function(event){
    $("#modal-window").html("<%= escape_javascript(render 'notes/form', new_note: Note.new ) %>");
  });
});
</script>