<h1>New Note</h1>
<br>
<div style="width: 800px; background-color: #F2F2F2 !important;">
		<%= render 'form', new_note: @note %>
	<div class="pull-right">
        <%= link_to "Cancel", user_root_path(@user), :class => 'close' %>
    </div>
</div>
