<%= javascript_include_tag 'client_intakes/table', 'data-turbolinks-track' => true %>
<div class="table-responsive">
  <table id="<%= id %>" class="table table-striped table-hover rowlink invoices_table" data-source="<%= send("#{id}_path") %>">
    <thead class="user-table-head">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Case</th>
      <th>Due Date</th>
      <th>Invoice Amount</th>
      <th>Balance</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>