<% content_for :javascript do %>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#new_modal').click(function (event) {
                $("#modal-window").html("<%= escape_javascript(render 'tasks/form', new_task: @tasks_a ) %>");
            });

            $(document).on('click', ".complete-task", function (e) {
                var id = $(e.currentTarget).data('task-completed');
                var tasks_owner = $(this).closest('.dataTables_wrapper').find('.table').attr('id');
                var parent_tr = $(this).parents('tr');
                var parent_tr_firm = $("tr[id='" + id + "']");
                $(parent_tr).hide();
                $(parent_tr_firm).hide();
                $.ajax({
                    type: "post",
                    url: '/tasks/complete_task',
                    data: {'task': {"task_id": id}},
                    success: function (data) {
                        tables.table('#'+tasks_owner).row( parent_tr ).remove().draw();
                        $('.alert').remove();
                        $('body').append("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>&#215;</button>" + data.message + "</div>");
                        setTimeout(function () {
                            $('.alert-success').fadeOut();
                        }, 2000);
                    },
                    error: function (responce, status, error) {
                        $(parent_tr).show();
                        $('.alert').remove();
                        $('body').append("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&#215;</button>" + responce.responseText + "</div>");
                        setTimeout(function () {
                            $('.alert-danger').fadeOut();
                        }, 4000);
                    }
                });
            });

            $(document).on('click', '#my_tasks.table tbody tr, #tasks.table tbody tr', function (e) {
                if ($(e.target).attr('href') === undefined && !$(e.target).hasClass('complete-task')) {
                    var task_id = $(this).attr('id');
                    if (typeof task_id != "undefined") {
                        window.location = "/tasks/" + task_id;
                    }
                }
            });

            var tables = $('.table').DataTable({
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Search or Filter Tasks",
                    lengthMenu: "View _MENU_"
                },
                sDom: '<"toolbar">Rfrtlip',
                aaSorting: [[ 4, 'asc' ]]
            });
            $("div.toolbar").html("<%= render(partial: 'tasks/filter_button') %>");

            $('.task-filter .dropdown-menu li a').click(function (e) {
                e.preventDefault();
                var text = $(this).text();
                var tasks_scope = $(this).data('scope');
                var tasks_owner = $(this).closest('.task-filter').closest('.dataTables_wrapper').find('.table').attr('id');
                var case_id = '<%= @case.present? ? @case.id : nil %>';
                $(this).closest('.task-filter').find('a.btn-default').html(text.toUpperCase()+" <span class='caret'></span>");
                tables.table('#'+tasks_owner).ajax.url('<%= get_tasks_path %>?tasks_owner='+tasks_owner+'&tasks_scope='+tasks_scope+'&case_id='+case_id).load(function (data) {});
            });
        });
    </script>
    <script type='text/javascript'>
        $(function() {
            $('#print').tipsy({gravity: 'n', fade: true});
        });
    </script>
<% end %>