<h1>New Task</h1>
<br>
<div style="width: 800px; ">
		<%= render 'form', new_task: @task %>
	<div class="pull-right">
        <%= link_to "Cancel", user_root_path(@user), :class => 'close' %>
    </div>
</div>

