<span class="class-make-h1">Incident Details</span> > <%= render_breadcrumbs %>

<%= render 'form', new_incident: @incident %>

<%= link_to 'Cancel', @incident %>
<%= link_to 'Back to Cases', cases_path %>
