
<div style="font-size: 24px;">
  <strong>Notification</strong>
  <% if !@notifications.empty? %>
    <%= link_to "Remove All", remove_all_notifications_path, :class=>'remove_all', :method => :delete %>
  <% end %>
</div>
<br />
<%= render partial: 'notifications/notification_dashboard' %>



