<div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
       <a class="close" data-dismiss="modal">×</a>
        <h1>New case</h1>
   </div>
   <div class="modal-body">

    <%= render 'new_case_form', new_case: new_case %>

    <%= link_to 'Back', cases_path %>  
             
   </div>
  </div>
</div>