 <div id="index-buttons">
              <ul>
                  <li><%= render 'new_button' %></li>
              </ul>
   </div>
   <div class="index-table-space">
<h3>My Cases</h3>
</div>
<%= render :partial => 'table', :locals => { :id => 'user_cases'} %>
<br/>
<br/>
<div class="index-table-space">
<h3>All Firm Cases</h3>
</div>
<%= render :partial => 'table', :locals => { :id => 'cases'} %>

 <%= render :partial => "cases_index_javascript" %>



  


