<%= link_to 'NEW CASE', new_case_path, {:class => "action-button", :id => "case_modal",  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %> 

<div class="table-responsive">
    <h3>Cases</h3>
    <div class="table-responsive">

      <%= table_for @cases,
                    :table_html => { :class => "table table-striped table-hover" },
                    :sortable => true,
                    :sort_url => cases_path do |case1| %>
          <% case1.column :name, :header => "Name" %>
          <% case1.column :number, :header => "Number" %>
          <% case1.column :case_type, :header => "Case Type" %>
          <% case1.column :subtype, :header => "Sub-type" %>
          <% case1.column :description, :header => "Description" %>
          <% case1.column :medical_bills, :header => "Medical Bills" %>
          <% case1.column :data => "Show", :link => true %>
          <% case1.footer do %>
              <div class="pull-right">
                <%= will_paginate @cases %>
              </div>
          <% end %>
    <% end %>

    </div>
</div>

<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<script type="text/javascript">
$(document).ready(function() {
  $('#case_modal').click(function(event){
    $("#modal-window").html("<%= escape_javascript(render 'cases/form', new_case: Case.new ) %>");
  });
});
</script>


