
  <h3>User</h3>
  <p>Name: <%= @user.name if @user.name %></p>
  <p>Email: <%= @user.email if @user.email %></p>
  <p>Firm: <%= @user.firm if @user.firm %></p>
  <p>Role: <%= @user.role if @user.role %></p>