<ul id="nav-tabs-custom" role="tablist">
        <li <%= is_active('contacts') %>><%= active_link_to 'By Contact', contacts_path, :class_active => 'navigated' %></li>
         <li><%= active_link_to 'By Company', companies_path, :class_active => 'navigated' %></li>
</ul>


