<ul id="nav-tabs-custom" role="tablist">
        <li <%= is_active('documents') %>><%= active_link_to 'DOCUMENTS', documents_path, :class_active => 'navigated',  :active => [['documents'], []] %></li>
         <li><%= active_link_to 'TEMPLATES', templates_path, :class_active => 'navigated',  :active => [['templates'], []] %></li>
</ul>


