<%= link_to 'NEW EVENT', new_event_path, {:class => "action-button", :id => "event_modal",  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %> 

<div class="table-responsive">
    <h3>Events</h3>
    <div class="table-responsive">
      <%= table_for @events,
                    :table_html => { :class => "table table-striped table-hover" },
                    :sortable => true,
                    :sort_url => events_path do |event| %>
          <% event.column :subject, :header => "Subject" %>
          <% event.column :location, :header => "Location" %>
          <% event.column :header => "Lawyer(s)", :data => lambda {|event| event.attorneys.map {|c| c.name}.join(', ') } %>
          <% event.column :date, :header => "Date" %>
          <% event.column :time, :header => "Time" %>
          <% event.column :header => "Invitee(s)", :data => lambda {|event| event.users.map {|c| c.name}.join(', ') }  %>
          <% event.column :all_day, :header => "All Day" %>
          <% event.column :reminder, :header => "Reminder" %>
          <% event.column :header => "Case(s)", :data => lambda {|event| event.cases.map {|c| c.name}.join(', ') }  %>
          <% event.column :notes, :header => "Notes" %>
          <% event.column :data => "Show", :link => true %>
          <% event.column :data => "Edit", :link_action => :edit %>
          <% event.column :data => "Delete", :link_method => :delete, :link_confirm => "Are you sure?" %>
          <% event.footer do %>
              <div class="pull-right">
                <%= will_paginate @events %>
              </div>
          <% end %>
      <% end %>

    </div>
</div>

<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<script type="text/javascript">
$(document).ready(function() {
  $('#event_modal').click(function(event){
    $("#modal-window").html("<%= escape_javascript(render 'events/form', new_event: Event.new ) %>");
  });
});
</script>