
<div id="top-custom">
<ul id="top-custom">
  <li><%= link_to 'NEW EVENT', new_event_path, {:class => "action-button", :id => "event_modal",  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %></li>
</ul>
</div>


  <div class="table-responsive calendar-table">
    <div id="calendar"></div>
  </div>


<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<script type="text/javascript">
$(document).ready(function() {
  $('#event_modal').click(function(event){
    $("#modal-window").html("<%= escape_javascript(render 'events/form', new_event: Event.new ) %>");
  });
  $('#calendar').fullCalendar({
    eventClick: function(calEvent, jsEvent, view) {
      $.ajax({
        type: "GET",
        url: '/events/' + calEvent.id + '/edit',
        success: function(data)
        {
//          console.log(data);
          $("#modal-window").html(data);
          $("#modal-window").modal();
        }
      });
    },
    header: {
      left:   '',
      center: '',
      right:  'prev, title, next'
    },
    events: <%= @events_list.to_json.html_safe %>
  })
});
</script>