<div id="top-custom">
  <ul>
    <li><%= link_to "NEW #{controller_name.singularize.upcase}", @new_path, {:class => "action-button", :id => "new_modal",  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %></li>
    <li><%= link_to refresh_google_events_path,  :class => 'dark-small' do %><span data-tip="Refresh" class="glyphicon glyphicon-refresh tip"></span> <% end %></li>
  </ul>
</div>

  <div class="calendar-table">
    <div id="calendar"></div>
  </div>


<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<script type="text/javascript">
$(document).ready(function() {
  $('#new_modal').click(function(event){
    $("#modal-window").html("<%= escape_javascript(render 'events/form', new_event: Event.new ) %>");
  });
  $('#calendar').fullCalendar({
    eventClick: function(calEvent, jsEvent, view) {
      $.ajax({
        type: "GET",
        url: '/events/' + calEvent.id + '/edit',
        success: function(data)
        {
//          console.log(data);
          $("#modal-window").html(data);
          $("#modal-window").modal();
        }
      });
    },
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,basicWeek,basicDay'
    },
    events: <%= @events_list.to_json.html_safe %>
  });
  $('.tip').tipr({
    'speed': 500,
    'mode': 'top'
  });
});
</script>