<%= render 'new_button' %>


  <div class="calendar-table">
    <div id="calendar"></div>
  </div>


<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<script type="text/javascript">
$(document).ready(function() {
  $('#new_modal').click(function(event){
    $("#modal-window").html("<%= escape_javascript(render 'events/form', new_event: Event.new ) %>");
  });
  $('#calendar').fullCalendar({
    eventClick: function(calEvent, jsEvent, view) {
      $.ajax({
        type: "GET",
        url: '/events/' + calEvent.id + '/edit',
        success: function(data)
        {
//          console.log(data);
          $("#modal-window").html(data);
          $("#modal-window").modal();
        }
      });
    },
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,basicWeek,basicDay'
    },
    events: <%= @events_list.to_json.html_safe %>
  })
});
</script>