<ul id="nav-tabs-custom" role="tablist">
        <li <%= is_active('All') %>><%= active_link_to 'Contact Details', @contact, :class_active => 'navigated',  :active => [['contacts'], ['show', 'edit']] %></li>
         <li><%= active_link_to 'Cases', contact_linked_cases_path, :class_active => 'navigated',  :active => [['contacts'], ['contact_cases']] %></li>
</ul>