<%= javascript_include_tag 'contacts/table', 'data-turbolinks-track' => true %>
<div class="table-responsive">
  <table id="<%= id %>" class="table table-striped table-hover rowlink contacts_table" data-source="<%= send("#{id}_path") %>">
    <thead class="user-table-head">
    <tr>
      <th>Name</th>
      <th>Contact Type</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
