<!-- THIS IS NOT BEING USE AS WE ARE USING MODAL THAT GETS RENDERED FROM index.html.erb -->

<h1>New contact</h1>

<% #= render 'form', :locals => {new_contact: @con_array} %>

<%= #link_to 'Back', contacts_path %>
