<%= link_to 'NEW DOCUMENT', new_document_path, {:class => "action-button", :id => "document_modal",  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %> 

<div class="table-responsive">
    <h3>Documents</h3>
    <div class="table-responsive">
     

      <%= table_for @documents,
                    :table_html => { :class => "table table-striped table-hover" },
                    :sortable => true,
                    :sort_url => documents_path do |doc| %>
          <% doc.column :author, :header => "Author" %>
          <% doc.column :doc_type, :header => "Type" %>
          <% doc.column :header => "Document", :data => lambda {|document| document.document.file.filename if !document.document_url.blank? }, :link_url => lambda { |document| document.document_url } %>
          <% doc.column :template, :header => "Template" %>
          <% doc.column :header => "Case(s)", :data => lambda {|doc| doc.cases.map {|c| c.name}.join(', ') } %>
          <% doc.column :data => "Show", :link => true %>
          <% doc.column :data => "Edit", :link_action => :edit %>
          <% doc.column :data => "Delete", :link_method => :delete, :link_confirm => "Are you sure?" %>
          <% doc.footer do %>
              <div class="pull-right">
                <%= will_paginate @documents %>
              </div>
          <% end %>
      <% end %>

  </div>
</div>

<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<script type="text/javascript">
$(document).ready(function() {
  $('#document_modal').click(function(event){
    $("#modal-window").html("<%= escape_javascript(render 'documents/form', new_document: Document.new ) %>");
  });
});
</script>