<ul id="nav-tabs-custom" role="tablist">
  <li <%= is_active('time_entries') %>><%= active_link_to 'TIME ENTRIES', time_entries_path, :class_active => 'navigated',  :active => [['time_entries'], ['index']] %></li>
  <li><%= active_link_to 'EXPENSES', expenses_path , :class_active => 'navigated', :active => [['expenses'], ['index']] %></li>
</ul>