
<% if @user.show_onboarding %>
<div class="text-center">
  <h2>Welcome to Litigo!</h2></div>
<br>
  <div class="config">
<h3>Configure Your Practice</h3>
	<ul>
		<li><a href="#">Sync your Google Calendar and Contacts</a></li>
		<li><a href="#">this is a link</a></li>
		<li><a href="#">this is a link</a></li>
	</ul>
  </div>

  <p>Click <%= link_to "Sign in with Google", "/auth/google_oauth2" %> to import your google contacts and calendar.
  </p>

  <p><button id="startTourBtn" class="btn btn-large btn-primary" onclick="hopscotch.startTour(tour)" >Take a tour</button></p>
   
<% else %>

  <h3>User</h3>
  <p>Name: <%= @user.name if @user.name %></p>
  <p>Email: <%= @user.email if @user.email %></p>
  <p>Show Onboarding: <%= @user.show_onboarding if @user.show_onboarding %></p>

<p><button id="startTourBtn" class="btn btn-large btn-primary" onclick="hopscotch.startTour(tour)" >Take a tour</button></p>
<% end %>
