
<% if @user.show_onboarding %>
<div class="text-center">
 	</div>
<br>
  <div class="config">
		<div class="title">Practice Configuration</div>
		
	<ul>
		<li><%= link_to "1. Sync your Google Calendar", "/auth/google_oauth2" %></li>
		<li><a href="#">2. Add users to your firm</a></li>
		<li><a class="bo" href="#" id="startTourBtn" onclick="hopscotch.startTour(tour)">3. Take a quick tour</a></li>
	</ul>
  </div>



  <!-- <p><button id="startTourBtn" class="btn btn-large btn-primary" onclick="hopscotch.startTour(tour)" >Take a tour</button></p> -->
   
<% else %>

  <h3>User</h3>
  <p>Name: <%= @user.name if @user.name %></p>
  <p>Email: <%= @user.email if @user.email %></p>
  <p>Show Onboarding: <%= @user.show_onboarding if @user.show_onboarding %></p>

<p><button id="startTourBtn" class="btn btn-large btn-primary" onclick="hopscotch.startTour(tour)" >Take a tour</button></p>
<% end %>
