/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require dataTables/src/demo_table_jui
 *= require fullcalendar
 *= require jquery-ui
 *= require_tree .
 *= require_self
 *= require select2
 *= require jquery.tagit
 *= require d3/nv.d3
 *= require tagit/tagit.ui-zendesk
 *= require jasny-bootstrap
 *= require tipsy
 *= require jquery.tagit
 *= require evol.colorpicker.min
 */
 @import "font-awesome";
 @import 'bootstrap-datetimepicker';
$icon-font-path: "/assets/";
.invitees {
  a {
    color: #428bca;
  }
}

.inv_fields {
	margin-bottom: 10px;
}


.table-responsive {
//  position: relative;
	margin: -45px auto 0 auto;
}

.info {
  background: #d9edf7;
  padding: 10px;
  h3 {
    text-align: center;
    margin-top: 5px;
  }
  ul.list {
    li {
      a {
        color: #3FC2D8;
        &:hover {
          color: #0483A0;
        }
      }
    }
  }
}

.alert {
  z-index: 2000;
  a {
    color: blue;
    &:hover {
      color: #0000c8;
      text-decoration: underline;
    }
  }
}
//.modal-body {
//  input {
//    min-height: 35px;
//    background-image: linear-gradient(to bottom, #eee 1%, #fff 15%);
//    border: 1px solid #aaa;
//  }
//}
.dataTables_length {
  margin-top: 6px!important;
}

.no-display {
  display: none;
}