// Place all the styles related to the cases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-case-form {
  width: 100%;
    padding: 0;
  tr {
    width: 100%;
    td:nth-of-type(3){
      float: right;
    }
    td:first-of-type {
      strong {
        float: right;
      }
    }
    td:nth-of-type(2){
      width: 25%;
    }
  }
}
.new-case-form td:nth-child(1) {
  vertical-align: top;
}

.new-case-form tr:nth-child(even){
 background: #f2f2f2;
}
.new_case_form {
  width: 100%;
    padding: 0;
  tr {
    width: 100%;
    td:first-of-type {
      strong {
        float: right;
      }
    }
    td:nth-of-type(2){
      width: 75%;
    }
  }
}
.new_case_form td:nth-child(1) {
  vertical-align: top;
}

.new_case_form tr:nth-child(even){
 background: transparent;
}

.case-form {
	width: 100%;
    padding: 0;
  tr {
    width: 100%;
    td:first-of-type {
      strong {
        float: right;
      }
    }
    td:nth-of-type(2){
      width: 70%;
    }
  }
}
.case-form td:nth-child(1) {
  vertical-align: top;
}

.case-form tr:nth-child(even){
 background: transparent;
}

.injury-table{
  table-layout: fixed;
  width: 400px;
  font-size: 14px;
  border: 1px solid #E8ECF1;
  border-radius: 5px;
  float: left;
  margin-bottom: 40px;
}
.injury-table-container {
  position: relative;
  display: block;
  margin: 0 auto;
  padding-bottom: 50px;
  width: 900px;
}
.injury-table tr{
 padding: 5px;
 border: 1px solid #E8ECF1;
}
.injury-table td{
 border: 1px solid #E8ECF1;
}
.injury-table tr:nth-child(even){
 background: #fdfeff;
}
.injury-table tr:nth-child(odd){
 background: white;
}
.treatment-table{
  table-layout: fixed;
  width: 400px;
  font-size: 14px;
  border: 1px solid #E8ECF1;
  border-radius: 5px;
  float: right;
}
.treatment-table tr{
 padding: 5px;
 border: 1px solid #E8ECF1;
}
.treatment-table td{
 border: 1px solid #E8ECF1;
}
.treatment-table tr:nth-child(even){
 background: #fdfeff;
}
.treatment-table tr:nth-child(odd){
 background: white;
}

td.gray-back {
  background-color: #ccc;
}
td.big-row {
  height: 140px;
  vertical-align: top;
}

hr.invis {
  border: 0;
  height: 1px;
  background-color: #F2F2F2;
}
hr.invis2 {
  border: 0;
  height: 1px;
  background-color: #F2F2F2;
  margin: 0;
}

.injury-form {
	width: 90%;
	margin: 0 auto;
}

.injury-form tr:nth-child(even){
 background: white;
}
.injury-form tr{
 vertical-align: top;
}
.injury-form td{
 vertical-align: top;
}

.cases_table > tbody > tr > td:nth-of-type(1) {
  width: 30px;
}
.cases_table > tbody > tr > td:nth-of-type(2) {
  width: 225px;
}
.cases_table > tbody > tr > td:nth-of-type(3) {
  width: 225px;
}
.cases_table > tbody > tr > td:nth-of-type(4) {
  width: 350px;
}
.cases_table > tbody > tr > td:nth-of-type(5) {
  width: 95px;
}


.status-circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 1px 2px #8c8c8c;
  -moz-box-shadow: 0px 1px 2px #8c8c8c;
  box-shadow: 0px 1px 2px #8c8c8c;
}
.negotiation, .pending_review {
   background: #29cc62;
  background-image: -webkit-linear-gradient(top, #29cc62, #1aa35a);
  background-image: -moz-linear-gradient(top, #29cc62, #1aa35a);
  background-image: -ms-linear-gradient(top, #29cc62, #1aa35a);
  background-image: -o-linear-gradient(top, #29cc62, #1aa35a);
  background-image: linear-gradient(to bottom, #29cc62, #1aa35a);
  
}
.litigation, .appointment_scheduled {
  background: #3b73e3;
  background-image: -webkit-linear-gradient(top, #3b73e3, #1a50a1);
  background-image: -moz-linear-gradient(top, #3b73e3, #1a50a1);
  background-image: -ms-linear-gradient(top, #3b73e3, #1a50a1);
  background-image: -o-linear-gradient(top, #3b73e3, #1a50a1);
  background-image: linear-gradient(to bottom, #3b73e3, #1a50a1);
}
.appeal, .accepted {
    background: #ffcf70;
  background-image: -webkit-linear-gradient(top, #ffcf70, #ffac1c);
  background-image: -moz-linear-gradient(top, #ffcf70, #ffac1c);
  background-image: -ms-linear-gradient(top, #ffcf70, #ffac1c);
  background-image: -o-linear-gradient(top, #ffcf70, #ffac1c);
  background-image: linear-gradient(to bottom, #ffcf70, #ffac1c);
}
.closed, .rejected {
   background: #ff9499;
  background-image: -webkit-linear-gradient(top, #ff9499, #fa1d00);
  background-image: -moz-linear-gradient(top, #ff9499, #fa1d00);
  background-image: -ms-linear-gradient(top, #ff9499, #fa1d00);
  background-image: -o-linear-gradient(top, #ff9499, #fa1d00);
  background-image: linear-gradient(to bottom, #ff9499, #fa1d00);
}
.inactive {
   background: #d1d1d1;
  background-image: -webkit-linear-gradient(top, #d1d1d1, #808080);
  background-image: -moz-linear-gradient(top, #d1d1d1, #808080);
  background-image: -ms-linear-gradient(top, #d1d1d1, #808080);
  background-image: -o-linear-gradient(top, #d1d1d1, #808080);
  background-image: linear-gradient(to bottom, #d1d1d1, #808080);
}

.recent-notes-table {
  width: 900px;
  margin-bottom: 50px;
}
.recent-notes-table > tbody > tr > td:nth-of-type(1) {
  width: 100px;
}
.recent-notes-table > tbody > tr > td:nth-of-type(2) {
  width: 150px;
}
.recent-notes-table > tbody > tr > td:nth-of-type(3) {
overflow: hidden;
  width: 500px;
}
.recent-notes-table > tbody > tr > td:nth-of-type(4) {
  width: 150px;
}

@media (max-width: 767px) {
.recent-notes-table {
  width: 350px;
  margin-bottom: 50px;
}
}


#summary-table {
  table-layout: fixed;
  margin: 0 auto 10px auto;
  width: 900px;
  font-size: 14px;
  border: 1px solid #E8ECF1;
  border-radius: 5px; 
}

#summary-table tr{
 padding: 5px;
 border: 1px solid #E8ECF1;
}
#summary-table td{
 border: 1px solid #E8ECF1;
}
#summary-table tr:nth-child(even){
 background: #fdfeff;
}
#summary-table tr:nth-child(odd){
 background: white;
}

#case-spacer #case-spacer2 {
  margin-top: 70px !important;
}
@media (max-width: 767px) {
#case-spacer {
  margin-top: 10px;
}
#case-spacer2 {
  margin-bottom: 60px;
}
}

.recent-update-container {
  padding-top: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-botom: 40px;
}

.small {
  font-size: 14px !important;
}


.menu {
    list-style-type: none;
    height: 35px;
    overflow: hidden;

}
.more_menu {
    display: none;
}
.more_menu.opens {
    display: block;
    position: absolute;
    right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    background-color: #fff;
    margin-top: -55px;
    z-index: 3000;
}

.more_menu a {
  color: #B1B8C2;
}
.more_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 15px;
}
.more_menu li {
    margin-bottom: 5px;
}

.menu li {
    display: block;
    float: left;
    height: 35px;
    white-space: nowrap;
}
.more {
    display: block;
    float: right;
    height: 35px;
    white-space: nowrap;
    color: #B1B8C2;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 8px;
    transition: .3s;
    padding-top: 2px;
}
.case-alert {
background-color: #ff9499;
padding: 10px;
margin-top: -160px;
border-bottom: 1px solid #ebccd1;
}

.case_contacts-edit-container{
  margin: 47px auto;
  padding-top: 134px;
  width: 900px;
}

#popup_case {
  position:absolute;
  height: auto;
  width: 170px;
  vertical-align:middle;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
  margin-left: -20px;
  margin-top:-15px;
  font-size: 12px;
  margin-bottom: -15px;
  background-color: #363636;
  border: 1px solid #1c2324;
  border-radius: 5px;
  color: white;
  z-index: 3000;
  display: none;
}

#popup_case_modal {
  position:absolute;

  height: auto;
  width: 150px;
  vertical-align:middle;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
  margin-left: -10px;
  margin-top:-15px;
  font-size: 12px;
  margin-bottom: -15px;
  background-color: #363636;
  border: 1px solid #1c2324;
  border-radius: 5px;
  color: white;
  z-index: 3000;
  display: none;
}
