// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.radio {
	margin-left: 20px;
	width: 20px;
}

.contact-form {
	width: 90%;
	margin: 0 auto;
}
.contact-form td:nth-child(1) {
  	float: right;
}

.contact-form tr:nth-child(even){
 	background: white;
}

.case-assigne-contact{
	tr {
    width: 100%;
    td:first-of-type {
      strong {
        float: right;
      }
    }
    td:nth-of-type(2){
      width: 55%;
    }
  }
}