// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.doc-link a {
  color: #3FC2D8 !important;
  &:hover {
    color: #0483A0 !important;
  }
}
.documents-dropdown-button {
  width: 168px;
  .dropdown-menu {
    left: -55px;
  }
}

