// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grey {
  display: block;
  background-color: transparent;
  height: 57px;
  margin: -12px -15px;
  .buttons {
    float: right;
    padding-top: 12px;
    .case-filter {
      display: inline-block;
    }
  }
}
.calendar-table {
  #calendar {
  z-index: -10;
  position: relative;
  top: -40px;
    width: 100%;
    margin: 0 auto;
    .fc-header {
      margin-bottom: 15px;
    }
    .fc-border-separate > thead {
      background-color: #6C6D6D;
      color: #ccc;
    }
  }
}

.fc-header{
z-index: -10;
  
}
