// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grey {
  display: block;
  background-color: transparent;
  height: 57px;
  margin: -12px -15px;
  .buttons {
    float: right;
    padding-top: 12px;
    .case-filter {
      display: inline-block;
    }
  }
}
.calendar-table {
  position: relative;
  #calendar {
  width: 90%;
  margin: 50px auto;
    .fc-header {
      margin-bottom: 10px;
      z-index: -10;
    }
    .fc-border-separate > thead {
      background-color: #6C6D6D;
      color: #ccc;
    }
  }
}

@media (max-width: 767px) {
.calendar-table {
  position: relative;
  #calendar {
  width: 100%;
  margin: 5px auto;
    .fc-header {
      margin-bottom: 10px;
      z-index: -10;
    }
    .fc-border-separate > thead {
      background-color: #6C6D6D;
      color: #ccc;
    }
  }
}
}

.calendar-table td {
 width: 12.86%;
}
.calendar-table tr:nth-child(even){
 background: white;
}
.calendar-table tr:nth-child(odd){
 background: white;
}
.calendar-table tr:nth-child(1) {
  background: white;
}

div.tagsinput input {
  padding: 0!important;
}
.ui-autocomplete {
  z-index: 9000;
}
.picker-switch, .table-condensed{
  a.btn {
    color: #428bca;
    &:hover {
      color: #000;
    }
  }
}

ul.tagit {
  border: 1px solid #aaa!important;
}

.fc-header{
  width: 90%;
}
.fc-header-left{
  background-color: #f2f2f2;
}
.fc-header-center{
  background-color: #f2f2f2;
  text-shadow: 0 1px 0 #fff;
}
.fc-header-right{
  background-color: #f2f2f2;
}
.fc-day-header {
  background-color: #38393A;
}

.fc-agenda .fc-agenda-axis {
  text-align:left;
}
.fc-agenda-allday {
  background: transparent;
}

div.fc-view-agendaWeek {
  table.fc-agenda-allday, table.fc-agenda-slots {
    tr {
      background-color: transparent!important;
    }
    th.fc-agenda-axis {
      width: 1%!important;
      border-right: transparent;
    }
  }
}

div.fc-view-agendaDay {
  table.fc-agenda-days {
    th.fc-agenda-axis {
      width: 1%!important;
    }
  }
  table.fc-agenda-allday, table.fc-agenda-slots {
    tr {
      background-color: transparent!important;
    }
    th.fc-agenda-axis {
      width: 1%!important;
      border-right: transparent;
    }
  }
}

.firm_users {
  list-style: none;
  padding:0;
  margin:0;
  .user_color {
    display: inline-block;
    width: 10px;
    height: 10px;
  }
}

