// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//.grey {
//  display: block;
//  background-color: transparent;
//  height: 57px;
//  margin: -12px -15px;
//  .buttons {
//    float: right;
//    padding-top: 12px;
//    .case-filter {
//      display: inline-block;
//    }
//  }
//}

.calendar-table {
  position: relative;
  z-index: 10;
  #calendar {
    width: 100%;
    margin: 0 auto;

    .fc-header {
      z-index: -10;
    }

    //.fc-widget-header > table {
    //  > thead {
    //    background-color: #fff;
    //    color: #ccc;
    //  }
    //}
    //.fc-month-view {
    //  .fc-day-header.fc-widget-header {
    //    background-color: #38393A;
    //  }
    //}
    //.fc-border-separate, .fc-month-view .fc-widget-header > table {
    //  > thead {
    //    background-color: #6C6D6D;
    //    color: #ccc;
    //  }
    //}
    //
    .fc-toolbar {
      margin-bottom: 10px;

      .fc-button {
        height: 1.9em;
        line-height: 1.9em;
      }

      .fc-center {
        display: inline-block;
        vertical-align: top;
        h2 {
          margin-top: 0;
          white-space: nowrap;
        }
      }
    }

    .fc-row {
      &.fc-week > .fc-bg {
        > table {
          padding: 0;
        }
      }
    }

    .fc-row {
      > table {
        > thead {
          > tr {
            > th:first-child {
              width: 43px !important;
            }
          }
        }
      }
    }

    .fc-slats {
      tr {
        background: transparent;
        td {
          background: transparent;
          border-right-color: transparent;
        }
      }
    }

    .fc-body {
      .fc-widget-content {
        .fc-divider.fc-widget-header {
          width: 100%;
        }
      }
    }

  }
}

//
//@media (max-width: 767px) {
//  .calendar-table {
//    position: relative;
//    #calendar {
//      width: 100%;
//      margin: 5px auto;
//      .fc-header {
//        z-index: -10;
//      }
//      .fc-border-separate > thead {
//        background-color: #6C6D6D;
//        color: #ccc;
//      }
//    }
//  }
//}

.calendar-table td {
  //width: 12.86%;
  background-color: white;
  .fc-content-skeleton {
    tr {
      background-color: transparent;
      td {
        background-color: transparent;
      }
    }
  }
}

//.calendar-table tr {
//  background-color: white;
//}
//.calendar-table tr:nth-child(even){
// background: white;
//}
//.calendar-table tr:nth-child(odd){
// background: white;
//}
//.calendar-table tr:nth-child(1) {
//  background: white;
//}

//div.tagsinput input {
//  padding: 0 !important;
//}
//
.ui-autocomplete {
  z-index: 9000;
}
//
//.picker-switch, .table-condensed {
//  a.btn {
//    color: #428bca;
//    &:hover {
//      color: #000;
//    }
//  }
//}
//
//ul.tagit {
//  border: 1px solid #aaa !important;
//}
//
.fc-header, .fc-toolbar {
  width: 95% !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
//  .fc-left, .fc-header-left {
//    background-color: #f2f2f2;
//  }
//  .fc-center, .fc-header-center {
//    background-color: #f2f2f2;
//    text-shadow: 0 1px 0 #fff;
//  }
//  .fc-right, .fc-header-right {
//    background-color: #f2f2f2;
//  }
}
//
//.fc-agenda .fc-agenda-axis {
//  text-align: left;
//}
//
//.fc-agenda-allday {
//  background: transparent;
//}
//
//div.fc-view-agendaWeek {
//  table.fc-agenda-allday, table.fc-agenda-slots {
//    tr {
//      background-color: transparent !important;
//    }
//    th.fc-agenda-axis {
//      width: 1% !important;
//      border-right: transparent;
//    }
//  }
//}
//
//div.fc-view-agendaDay {
//  table.fc-agenda-days {
//    th.fc-agenda-axis {
//      width: 1% !important;
//    }
//  }
//  table.fc-agenda-allday, table.fc-agenda-slots {
//    tr {
//      background-color: transparent !important;
//    }
//    th.fc-agenda-axis {
//      width: 1% !important;
//      border-right: transparent;
//    }
//  }
//}
//
.firm-users {
  li {
    margin-left: 10px;
    .user_color {
      display: inline-block;
      width: 10px;
      height: 10px;
    }
  }
}

.tagit-choice {
  font-size: 12px;
}

#event-buttons {
  margin-bottom: 25px;
}

#event-buttons ul {
  padding: 0 0;
  margin-top: 5px;
}

#event-buttons li {
  display: inline;
}

.event-header {
  position: absolute;
  left: 0;
  right: 0;
  top: -20px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ccc;
  height: 74px;
}

a.case_link {
  color: #000000;
  &:hover {
    color: #428bca;
  }
}

.fc-event {
  min-height: 19px;
}

.recur_block {
  display: none;
}

#s2id_event_frequency {
  width: 87%;
}

.fc-day-content {
  border: transparent;
}
