#insights_filter {
  padding: 0;
  background-color: #CCCCCC;
  label, select {
    display: block;
    margin: 2px 0;
  }
  .row {
    height: 140px;
    margin-left: 0;
    margin-right: 0;

    .box {
      padding: 19px;
      display: table-cell;
      height: 100%;
    }

    #f_injury {
      margin-bottom: 10px;
    }

    #f_region {
      
    }

    .full-width {
      width: 100%;
    }    

    .center {
      text-align: center;
    }
  }

  .right_whiteborder {
    border-right: 2px solid white;
  }

  .rdobtn {
    font-family: sans-serif;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 10px;
    background: transparent;
    border: 1px solid #323A45;
    cursor: pointer;
    color: #323A45;
    text-decoration: none;
    font-weight: lighter;
    outline: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    
    &.left {
      -webkit-border-top-left-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &.right {
      -webkit-border-top-right-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
      -moz-border-radius-topright: 5px;
      -moz-border-radius-bottomright: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    &.active {
      background-color: #797B7C;
      color: white;
    }
  }
}