// Place all the styles related to the insurances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add-action {
	color: #428bca !important;
	&:hover {
	color: #313A45 !important;
	}
}
.insure {
	float: left;
	margin-bottom: 10px;
}

.insurance-edit-container{
  margin: 47px auto;
  padding-top: 134px;
  width: 900px;
}

@media (max-width: 767px) {
.insurance-edit-container{
  margin: 0 auto;
  padding-top: 134px;
  width: 100%;
}
}

.hover_insurance_container {
  position:absolute;
  height: 80px;
  width: 170px;
  vertical-align:middle;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
  margin-left: 213px;
  margin-top:-15px;
  font-size: 12px;
  margin-bottom: -15px;
  background-color: #363636;
  border: 1px solid #1c2324;
  border-radius: 5px;
  color: white;
  z-index: 3000;
  display:none;
}