// Place all the styles related to the insurances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add-action {
	color: #428bca !important;
	&:hover {
	color: #313A45 !important;
	}
}
.insure {
	float: left;
	margin-bottom: 10px;
}

.insurance-edit-container{
  margin: 47px auto;
  padding-top: 134px;
  width: 900px;
}

@media (max-width: 767px) {
.insurance-edit-container{
  margin: 0 auto;
  padding-top: 134px;
  width: 100%;
}
}

#popup_insurance {
  position: fixed;
  top: 50%;
  float: left;
  height: 85px;
  width: 130px;
  vertical-align:middle;
  padding-left: 10px;
  margin-top: 40px;
  padding-top: 10px;
  background-color: #363636;
  font-size: 12px;
  border: 1px solid #1c2324;
  border-radius: 5px;
  color: white;
  z-index: 3000;
  display: none;
}
.select_contacts_insurance select{
  width:100px;
}
