// Place all the styles related to the insurances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add-action {
	color: #428bca !important;
	&:hover {
	color: #313A45 !important;
	}
}
.insure {
	float: left;
	margin-bottom: 10px;
}

.insurance-edit-container{
  margin: 0 auto;
  padding-top: 134px;
  width: 900px;
}

@media (max-width: 767px) {
.insurance-edit-container{
  margin: 0 auto;
  padding-top: 134px;
  width: 100%;
}
}