// Place all the styles related to the interrogatories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show_replies {
	color:white; 
	float: right;
	&:hover {
	text-decoration: underline;
	color:white; 
	}
	&:focus {
	color: white;
	}
	}

.interrogatory_select select {
  width: 100%;
}

#popup_interrogatory{
  position: fixed;
  top: 50%;
  float: left;
  height: 85px;
  width: 130px;
  vertical-align:middle;
  padding-left: 10px;
  margin-top: 40px;
  padding-top: 10px;
  background-color: #363636;
  font-size: 12px;
  border: 1px solid #1c2324;
  border-radius: 5px;
  color: white;
  z-index: 3000;
  display: none;
}
