// Place all the styles related to the Medicals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#s2id_medical_hospital_stay_length_unit {
  width: 50%;
}

.medical {
  display: inline!important;
}

.links {
  margin-bottom: 50px;
}

.task-icon {
  text-align: center;
}



.medical_bills_table {
  width: 100%;
    tr:nth-child(odd){
    vertical-align: top;
 }
 tr:nth-child(even){
    vertical-align: top;
 }
}

.medical_bills_table > tbody > tr > td:nth-of-type(1) {
  width: 23%;
}
.medical_bills_table > tbody > tr > td:nth-of-type(2) {
  width: 40%;
}
.medical_bills_table > tbody > tr > td:nth-of-type(3) {
  width: 7%;
}
.medical_bills_table > tbody > tr > td:nth-of-type(4) {
  width: 15%;
}
.medical_bills_table > tbody > tr > td:nth-of-type(5) {
 width: 15%;
}

.medical_bills_table > tbody > tr > td:nth-of-type(6) {
width: 5%;
}
.medical_bills_table > tbody > tr > td:nth-of-type(7) {
 width: 5%;
}


.imports > tbody > tr > td:nth-of-type(5) {
 text-align: center;
}
.imports > tbody > tr > td:nth-of-type(6) {
 text-align: center;
}
.imports > tbody > tr > td:nth-of-type(7) {
 text-align: center;
}

.controls {
  input {
    width: 100%;
  }
  span.help-inline {
    color: red;
  }
}
