// Place all the styles related to the Medicals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#s2id_medical_hospital_stay_length_unit {
  width: 50%;
}

.medical {
  display: inline!important;
}

.links {
  margin-bottom: 50px;
}

.task-icon {
  text-align: center;
}



.medical_bills_table {
  margin-top: 40px;
  width: 100%;
  table-layout: fixed;
    tr:nth-child(odd){
    background: white;
 }
 tr:nth-child(even){
    background: #fdfeff;
 }
}

.medical_bills_table tr{
 padding: 5px;
 border: 1px solid #E8ECF1;
}
.medical_bills_table td{
 border: 1px solid #E8ECF1;
}

.medicals{
  width: 100%;
  margin-bottom: 50px;
}
.medicals tr{
 padding: 5px;
 border: 1px solid #E8ECF1;
}
.medicals td{
 border: 1px solid #E8ECF1;
}


.medical_bills_table > tbody > tr > td:nth-of-type(1) {
  width: 225px;
}
.medical_bills_table > tbody > tr > td:nth-of-type(2) {
  width: 225px;
}
.medical_bills_table > tbody > tr > td:nth-of-type(3) {
  width: 100px;
}
.medical_bills_table > tbody > tr > td:nth-of-type(4) {
  width: 60px;
}
.medical_bills_table > tbody > tr > td:nth-of-type(5) {
 width: 150px;
}
.medical_bills_table > tbody > tr > td:nth-of-type(5) {
 width: 150px;
}
.medical_bills_table > tbody > tr > td:nth-of-type(6) {
text-align: center;
 width: 20px;
}



.imports > tbody > tr > td:nth-of-type(5) {
 text-align: center;
}
.imports > tbody > tr > td:nth-of-type(6) {
 text-align: center;
}
.imports > tbody > tr > td:nth-of-type(7) {
 text-align: center;
}

.controls {
  input {
    width: 100%;
  }
  span.help-inline {
    color: red;
  }
}
.hover_medical_container {
  position:absolute;
  height: 200px;
  width: 170px;
  vertical-align:middle;
  padding: 10px;
  margin-left: 188px;
  margin-top:-15px;
  font-size: 12px;
  margin-bottom: -15px;
  background-color: white;
  border: 1px solid darkgrey;
  border-radius: 5px;
  color: white;
  z-index: 3000;
  display: none;
}

#popup_medical {
  position:absolute;
  height: auto;
  width: 170px;
  vertical-align:middle;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
  margin-left: 3px;
  margin-top:-15px;
  font-size: 12px;
  margin-bottom: -15px;
  background-color: #363636;
  border: 1px solid #1c2324;
  border-radius: 5px;
  color: white;
  z-index: 3000;
  display: none;
}

.hover_medical_container:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -20px;
  left: 40px;
  border-width: 0 25px 30px 0px;
  border-style: solid;
  border-color: transparent white;
  display: block;
  width: 10;
}
