// Place all the styles related to the Medicals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#s2id_medical_hospital_stay_length_unit {
  width: 50%;
}

.medical {
  display: inline!important;
}

.links {
  margin-bottom: 50px;
}

.task-icon {
  text-align: center;
}



.medical_bills_table {
  margin-top: 40px;
  width: 100%;
  table-layout: fixed;
    tr:nth-child(odd){
    background: white;
 }
 tr:nth-child(even){
    background: #fdfeff;
 }
}

.medical_bills_table tr{
 padding: 5px;
 border: 1px solid #E8ECF1;
}
.medical_bills_table td{
 border: 1px solid #E8ECF1;
}

.medicals{
  width: 100%;
  margin-bottom: 50px;
}
.medicals tr{
 padding: 5px;
 border: 1px solid #E8ECF1;
}
.medicals td{
 border: 1px solid #E8ECF1;
}


.medical_bills_table > tbody > tr > td:nth-of-type(1) {
  width: 225px;
}
.medical_bills_table > tbody > tr > td:nth-of-type(2) {
  width: 225px;
}
.medical_bills_table > tbody > tr > td:nth-of-type(3) {
  width: 100px;
}
.medical_bills_table > tbody > tr > td:nth-of-type(4) {
  width: 160px;
}
.medical_bills_table > tbody > tr > td:nth-of-type(5) {
 width: 160px;
}
.medical_bills_table > tbody > tr > td:nth-of-type(6) {
text-align: center;
 width: 20px;
}



.imports > tbody > tr > td:nth-of-type(5) {
 text-align: center;
}
.imports > tbody > tr > td:nth-of-type(6) {
 text-align: center;
}
.imports > tbody > tr > td:nth-of-type(7) {
 text-align: center;
}

.controls {
  input {
    width: 100%;
  }
  span.help-inline {
    color: red;
  }
}