// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.note-form {
	width: 100%;
    padding: 0;
  tr {
    width: 100%;
    td:first-of-type {
      strong {
        float: right;
      }
    }
    td:nth-of-type(2){
      width: 80%;
    }
  }
}
.note-form td:nth-child(1) {
  vertical-align: top;
}

.note-form tr:nth-child(even){
 background: white;
}