// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.note-form, .lead-form{
	width: 100%;
    padding: 0;
  tr {
    width: 100%;
    td:first-of-type {
      strong {
        float: right;
      }
    }
    td:nth-of-type(2){
      width: 80%;
    }
  }
}
.note-form, .lead-form {
  td:nth-child(1) {
  vertical-align: top;
  }
}

.note-form, .lead-form {
  tr:nth-child(even){
   background: transparent;
 }
}


.notes_table > tbody > tr > td:nth-of-type(1) {
  width: 150px;
}
.notes_table > tbody > tr > td:nth-of-type(2) {
  width: 150px;
}
.notes_table > tbody > tr > td:nth-of-type(3) {
  overflow: hidden;
  min-width: 250px;
}
.notes_table > tbody > tr > td:nth-of-type(4) {
  width: 200px;
}
.notes_table > tbody > tr > td:nth-of-type(5) {
  width: 150px;
}


.task_field {
  display: none;
}

.pull-right{
  color: #0088CC;
}

.case_alert{
  display: none;
}