// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.each_notification {
  display: table;
  width: 100%;
  background-color: #ffffff;
  padding: 5px 0px 5px 30px;
  margin-bottom:5px;
  border-radius: 8px;
  border: 1px solid #999999;

}

.view {
  float: right;
  background-color: #BBBBBB;
  color: black;
  border-radius: 3px;
  border: 1px solid #999999;
  padding: 5px 20px 5px 20px;
  font-size: 16px;
}

.remove_all {
  background-color: transparent;
  color: black;
  margin-left: 20px;
  font-size: 14px;
}

.delete-notification {
  float: right;
  color: grey;
  padding-top: 7px;
  padding-left: 30px;
  padding-right: 15px;
  font-size: 14px;
  vertical-align: middle;
}

.time{
  color: #898989;
}
.links {
  display: table-cell;
  vertical-align: middle;
  color: #0088CC;
}

.some_column {
  width: 360px;
}

.author_field {
  color: #0088CC;
  font-weight: bold;
  display: inline;
}

.some_text {

  color: black;
  font-weight: normal;
  display: inline;
}

#notice {
  position: absolute;
  z-index: 4;
  border: 1px solid #Cff0d8;
  margin-top: -40px;
  margin-left: 50px;
  border-radius: 5px;
  color: #3c763d;
  padding: 30px 20px 30px 20px;
  background: #dff0d8;
}