// Place all the styles related to the TaskLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.task-list {
  display: inline!important;
  #task-list-bnt {
    margin-right: 5px;
  }
}
.top-custom {
  margin-bottom: 0!important;
  .dropdown-menu {
    li {
      padding-left: 0!important;
      display: inline!important;
    }
  }
}

.radio-bloc {
  display: table;
  width: 100%;
  input[type='radio'] {
    float: left;
  }
  label {
    text-align: left;
    width: auto;
    margin-left: 20px;
  }
}

.links {
  margin-bottom: 50px;
}

.task-icon {
  text-align: center;
}

.import-task-list {
  margin: 25px 10px;
}
