// Place all the styles related to the TaskLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.task-list {
  display: inline!important;
}

.radio-bloc {
  display: table;
  width: 100%;
  input[type='radio'] {
    float: left;
  }
  label {
    text-align: left;
    width: auto;
    margin-left: 20px;
  }
}

.links {
  margin-bottom: 50px;
}

.task-icon {
  text-align: center;
}



.task_lists_table {
  width: 100%;
    tr:nth-child(odd){
    vertical-align: top;
 }
 tr:nth-child(even){
    vertical-align: top;
 }
}

.task_lists_table > tbody > tr > td:nth-of-type(1) {
  width: 23%;
}
.task_lists_table > tbody > tr > td:nth-of-type(2) {
  width: 40%;
}
.task_lists_table > tbody > tr > td:nth-of-type(3) {
  width: 7%;
}
.task_lists_table > tbody > tr > td:nth-of-type(4) {
  width: 15%;
}
.task_lists_table > tbody > tr > td:nth-of-type(5) {
 width: 15%;
}

.task_lists_table > tbody > tr > td:nth-of-type(6) {
width: 5%;
}
.task_lists_table > tbody > tr > td:nth-of-type(7) {
 width: 5%;
}

#tasklist-buttons{
  float: right;
  margin-right: 10px;
}
#tasklist-buttons ul{
  padding: 0 0;
  margin: 5px 0 0 0;
}
#tasklist-buttons li{
  display: inline;
}

.imports > tbody > tr > td:nth-of-type(5) {
 text-align: center;
}
.imports > tbody > tr > td:nth-of-type(6) {
 text-align: center;
}
.imports > tbody > tr > td:nth-of-type(7) {
 text-align: center;
}

.controls {
  input {
    width: 100%;
  }
  span.help-inline {
    color: red;
  }
}
.new_task_list {
  .controls {
    background-color: #F2F2F2;
  }
}
.nested-fields {
  .controls {
    background-color: #F9F9F9;
  }
}
.case-selector {
  display: none;
  margin-left: 35px;
  margin-bottom: 10px;
}
.case-creator {
  .radio + .radio {
    margin-top: 10px;
  }
  .radio {
    input {
      margin-left: -95px;
    }
  }
}
