// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task-form {
	width: 100%;
    padding: 0;
  tr {
    width: 100%;
    td:first-of-type {
      strong {
        width: 100px;
        float: right;
        text-align: right;
      }
    }
    td:nth-of-type(2){
      width: 50%;
    }
    td:nth-of-type(3){
      width: 50%;
    }
  }
}
.task-form {
  td:nth-child(1) {
  vertical-align: top;
  }
}

.task-form {
  tr:nth-child(even){
   background: white;
 }
}


.tasks_table > tbody > tr > td:nth-of-type(1) {
  width: 200px;
}
.tasks_table > tbody > tr > td:nth-of-type(2) {
  width: 140px;
}
.tasks_table > tbody > tr > td:nth-of-type(3) {
  overflow: hidden;
  min-width: 200px;
}
.tasks_table > tbody > tr > td:nth-of-type(4) {
  width: 120px;
}
.tasks_table > tbody > tr > td:nth-of-type(5) {
  width: 120px;
}
.tasks_table > tbody > tr > td:nth-of-type(6) {
  width: 30px;
}

.tasks_table {
  tr:hover {
    cursor: pointer;
  }
  a {
    color: #333333;
  }

}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: -75px;
  z-index: 1001;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0 !important;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu li a {
padding-left: 20px;
}