// Place all the styles related to the Templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.template_var_list, .template_html {
  display: inline-block;
}
.template_var_list {
  width: 100%;
}
.template_html_show {
  border: 1px solid #E8ECF1;
  background-color: #fff;
  padding: 40px 60px;
  min-height: 825px;
  .-page-break {
    height: 1px;
    background: black;
  }
}
.template_html {
  border: 1px solid #E8ECF1;
  background-color: #fff;
  padding: 40px 60px;
  cursor: pointer;
  min-height: 825px;
  .-page-break {
    height: 1px;
    background: black;
  }
}
.selection {
  background-color: red;
}
.insertion {
  background-color: #ffff00;
}
#save_template_html {
  font-size: 14px;
}

.template_block {
  padding-bottom: 50px;
}

#cancel_selection {
  margin-top: 12px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #aaa;
  &:hover {
  color: black;
  }
}

.temp_buttons {
  margin: 40px auto;
  text-align: center;
}

.ui-state-active {
    border-top: 1px solid #aaaaaa/*{borderColorActive}*/;
}

.ui-accordion .ui-accordion-header {
  outline:none;
  margin: 0;
}

.accordion-list ul {
list-style-type: none;
} 
.accordion-list li {
margin-bottom: 5px;
  color: #428bca !important;
&:hover{
  cursor: pointer;
  color: #313A45 !important;
  text-decoration: underline;
}
} 

.ui-state-active {
background: #e6e6e6/*{bgColorDefault}*/ url(/assets/jquery-ui/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/ 50%/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/;
}

#template-buttons{
  float: right;
  margin-right: 20px;
  margin-top: -18px;
}
#template-buttons ul{
  padding: 0 0;
  margin: 0;
}
#template-buttons li{
  display: inline;
}

.trash-icon {
  color: #323A45;
  font-size: 24px;
}
.ui-helper-reset {
  
}

.document-list {
  #document-list-bnt {
    display: block;
  }
  .dropdown-menu {
    margin-top: 0px!important;
  }
}
.template_name {
  text-align: center;
}
ul.template-list {
  li {
    cursor: pointer;
  }
}