// Place all the styles related to the Templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.template_var_list, .template_html {
  display: inline-block;
}
.template_var_list {
  width: 100%;
}
.temp_buttons {
 text-align: center;
 z-index: 2000;
 height: 60px;
 padding-top: 58px;
}

.template_html_show {
  border: 1px solid #E8ECF1;
  background-color: #fff;
  padding: 60px 60px;
  min-height: 825px;
  .page-break {
    margin-top: 60px;
    margin-bottom: 60px;
    height: 1px;
    background: #ccc;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  p.columns {
    clear: both;
    .col-left {
      //float: left;
    }
    .col-right {
      float: right;
    }

    &.tab_left_column {
      padding-left: 67px;
    }

    &.two_left_columns {
      position: relative;
      .col-right {
        position: absolute;
        left: 67.5%;
      }
    }
  }
}
.template_html {
  border: 1px solid #E8ECF1;
  background-color: #fff;
  padding: 60px;
  cursor: pointer;
  min-height: 825px;
  margin-bottom: 50px;
  .page-break {
    height: 1px;
    background: #ccc;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
.selection {
  background-color: red;
}
.insertion {
  background-color: #ffff00;
  ins {
    text-decoration: initial;
  }
}
#save_template_html {
  font-size: 14px;
}

.template_block {
  padding-bottom: 50px;
  min-width: 100%;
}

#cancel_selection {
  margin-top: 12px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #aaa;
  &:hover {
  color: black;
  }
}

#show-buttons{
  float: right;
  margin-right: 10px;
}
#show-buttons ul{
  padding: 0 0;
  margin: 10px 0 0 0;
}
#show-buttons li{
  display: inline;
}

#temp-custom{
  float: right;
  margin-bottom: 20px;
  margin-right: 10px;
}
#temp-custom ul{
  padding: 0 0;
  margin: 0 0;
}
#temp-custom li{
  vertical-align: middle;
  padding-left: 20px;
  display: inline-block;
}

#temp-custom {
  #generate_doc {
    display: block;
  }
  ul.dropdown-menu {
    margin-top: 0!important;
    left: 0!important;
    li {
      width: 100%;
      padding: 0;
    }
  }
}


.ui-state-active {
    border-top: 1px solid #aaaaaa/*{borderColorActive}*/;
}

.ui-accordion .ui-accordion-header {
  outline:none;
  margin: 0;
}

.accordion-list ul {
list-style-type: none;
} 
.accordion-list li {
margin-bottom: 5px;
  color: #428bca !important;
&:hover{
  cursor: pointer;
  color: #313A45 !important;
  text-decoration: underline;
}
} 

.ui-state-active {
background: #e6e6e6/*{bgColorDefault}*/ url(/assets/jquery-ui/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/ 50%/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/;
}

#template-buttons{
  float: right;
  margin-right: 20px;
  margin-top: -18px;
}
#template-buttons ul{
  padding: 0 0;
  margin: 0;
}
#template-buttons li{
  display: inline;
}

.trash-icon {
  color: #323A45;
  font-size: 24px;
}
.ui-helper-reset {
  
}

.document-list {
  #document-list-bnt {
    display: block;
  }
  .dropdown-menu {
    margin-top: 0px!important;
  }
}
.template_name {
  text-align: center;
}
ul.template-list {
  li {
    cursor: pointer;
  }
}

.template-model {
  .select2-container {
    width: 100%!important;
  }
}

.green {
  background-color: #ACE2C6;
  cursor: pointer;
}

.white {
  background-color: #fff;
  color: #000000;
}

.instructions {
  border: 1px solid #ccc;
  background-color: #FDF1B5;
  padding: 10px 5px;
  font-size: 12px;
  margin-bottom: 20px;
}

.template_table > tbody > tr > td:nth-of-type(1) {
  width: 300px;
}
.template_table > tbody > tr > td:nth-of-type(2) {
  width: 200px;
}
.template_table > tbody > tr > td:nth-of-type(3) {
  width: 160px;
}
.template_table > tbody > tr > td:nth-of-type(4) {
  width: 80px;
}
.template_table > tbody > tr > td:nth-of-type(5) {
  width: 80px;
}
.template_table > tbody > tr > td:nth-of-type(6) {
  width: 80px;
}

.edit-temp {
  font-size: 16px;
  color: #323A45;
  margin-left: 5px;
}