<div id="insights_filter" class="well">
  <div class="row">
    <div class="col-md-2 box right_whiteborder">
     <label>STATE:</label>
        <%= select_tag "f_state", options_from_collection_for_select(@us_states, "last", "first"), :include_blank => true, class: 'optional full-width' %>
      <label style="margin-top:10px;">COUNTY:</label>
        <select id="f_county" class="optional full-width"></select>
      
    </div>
    <div class="col-md-8 box right_whiteborder">
      <div class="col-md-6">
          <label>INJURY:</label>
        <%= select_tag "f_injury", options_for_select(Injury::INJURY_TYPE), :include_blank => true, class: 'optional full-width' %>
      <div style="padding-top:8px; margin-left: 5px;">
        <span class="rdobtn left active full-width" data-val="only">Primary Only</span><span class="rdobtn right full-width" data-val="any">Any Injury</span>
      </div>
        
      </div>
      <div class="col-md-6">
          <label>REGION:</label>
        <%= select_tag "f_region", options_for_select(Injury::REGION_TYPE), :include_blank => true, class: 'optional full-width' %><p>
        <label style="margin-top:10px;">INSURANCE PROVIDER:</label>
        <%= select_tag "f_insuer", options_for_select(Incident::INSURANCE_PROVIDERS), :include_blank => true, class: 'optional full-width' %>
      </div>
    </div>
    <div class="col-md-2 box">
      <div class="full-width center" style="margin-top:25px;">
        <a id="btnFilterSearch" class="action-button" href="javascript:void(0)">SEARCH</a>
      </div>
      <div class="full-width center" style="margin-top:30px;">
        <a id="btnFilterReset" class="reset" href="javascript:void(0)">Reset</a>  
      </div>
    </div>
  </div>
</div>
<p id="notice" style="display:none;">Sorry, there are no cases that match your search criteria, please try again.</p>
<div id="chart_container" class="col-md-12 with-3d-shadow with-transitions">
  <div id="stackedArea_chart" style="height:300px;width:100%;">
    <svg></svg>
  </div>
  <div id="pie_chart" style="height:300px;width:300px;margin:0 auto;">
    <svg></svg>
  </div>
  <h4 style="text-align:center;">NATIONAL AVERAGE</h4>
  <div id="map_chart" style="position:relative;width:750px;height:350px;margin:0 auto;"></div>
</div>