<%= javascript_include_tag 'client_intakes/table', 'data-turbolinks-track' => true %>
<div class="table-responsive">
  <table id="<%= id %>" class="table table-striped table-hover rowlink leads_table" data-source="<%= send("#{id}_path") %>">
    <thead class="user-table-head">
    <tr>
      <th>Call Date</th>
      <th>Assigned Attorney</th>
      <th>Injured Party Name</th>
      <th>Estimated Value</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
