<%= render 'new_button' %>
<h3>My Leads</h3>
<%= render :partial => 'table', :locals => { :id => 'user_leads'} %>
<br/>
<br/>
<h3>All Firm Leads</h3>
<%= render :partial => 'table', :locals => { :id => 'leads'} %>
<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#new_modal').click(function(event){
      $("#modal-window").html("<%= escape_javascript(render 'form', new_lead: @lead ) %>");
    });
    $('.table tbody').on( 'click', 'tr', function (e) {
      var id = $(e.currentTarget).data('id');
      $('table.rowlink').rowlink()
    });
    $("select").select2();
  });
</script>
