 <div id="index-buttons">
              <ul>
                  <li><%= render 'new_button' %></li>
              </ul>
   </div>
   <div style="margin-top: 70px;">
<h3>My Leads</h3>
</div>
<%= render :partial => 'table', :locals => { :id => 'user_leads'} %>
<br/>
<br/>
<div style="margin-top: 70px;">
<h3>All Firm Leads</h3>
</div>
<%= render :partial => 'table', :locals => { :id => 'leads'} %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#new_modal').click(function(event){
      $("#modal-window").html("<%= escape_javascript(render 'form', new_lead: @lead ) %>");
    });
    $('.table tbody').on( 'click', 'tr', function (e) {
      var id = $(e.currentTarget).data('id');
      $('table.rowlink').rowlink()
    });
  });
</script>
