<span class="inv_fields">
  <label for="email" style="margin-bottom: 10px;">Email</label>
  <input type="email" class="inv_email" name="users[0][email]"/>
  <label for="role" style="margin-left: 10px;">Role</label>
  <select class="inv_role" name="users[0][role]">
    <option value="0">staff</option>
    <option value="1">admin</option>
    <option selected="selected" value="2">attorney</option>
  </select>
  <a class="remove_invitee" style="margin-left: 10px;"href="#">Remove</a><br/>
</span>
<script type="text/javascript" charset="utf-8">
  $('.remove_invitee').click(function(e){
    e.preventDefault();
    $(e.currentTarget).parent().remove();
  });
</script>