<h2>Reports</h2>
<div>
<h3>Leads By Channel Report</h3>
<%= link_to "Leads By Channel", reports_leads_by_channel_path %>
</div>

<br />

<div>
<h3>Leads Detail Report</h3>
<%= link_to "Leads Detail", reports_leads_detail_path %>
</div>

<br />

<div>
<h3>Case Statute of Limitations Report</h3>
<%= link_to "Case Statute Of Limitations", reports_case_sol_path %>
</div>

