<div class="container">
  <nav class="navbar navbar-default">
    <div class="navbar-inner navbar-content-center">
  
      <ul class="list-inline">
        <li>
          <a href="#">&copy;  Litigo 2014</a>
        </li>
        <li>
            <a href="#">FAQ</a>
        </li>
        <li>
            <a href="http://litigoinsights.com/aboutus.html">ABOUT US</a>
        </li>
        <li>
            <a href="#">CONTACT</a>
        </li>
      </ul>
    </div>
  </nav>
</div>