<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top nav-dark-blue">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('Logo_white.png'), root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </div>
</nav>

<% if user_signed_in? %>
  <nav class="navbar navbar-inverse sub-nav-light-blue">
    <div class="container">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <%= render 'layouts/sub_navigation_links' %>
        </ul>
      </div>
    </div>
  </nav>

  <%= render 'layouts/side_navigation' %>
<% end %>
