<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <a class="close" style="padding-top: 15px;" data-dismiss="modal">×</a>
      <h1>Document preview</h1>
    </div>
    <div class="modal-body">
      <%= yield %>
    </div>
    <div class="modal-footer">
      <div class="pull-left">
        <a class="close" data-dismiss="modal">Cancel</a>
      </div>
    </div>
  </div>
</div>
